dist/
alpine_dist/
**/__pycache__/
**/*.egg-info/
build/
src/unafold_python.egg-info/
unafold/.DS_Store
**/.DS_Store
.idea/
**/*.so
biosnake_storage/
biosnake_native.cpython-*/
**/pydoc-markdown.yml
*.dylib
*.log
.doc/_build/
.doc/_reference/
.doc/_sphinx_resources/
.doc/_static/
test_reports/
.coverage
coverage.xml
htmlcov/
.doc/uml_images