[submodule "src/mmseqs_native/src"]
	path = src/mmseqs_native/src
	url = https://github.com/soedinglab/MMseqs2
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://b26964032f635870777ac6142194efde68a50191@github.com/pybind/pybind11.git
