include example
include lib
include CMakeLists.txt
include Makefile
include README.md
include data/asint1x2.DAT
include data/asint1x2.DG
include data/asint1x2.DGD
include data/asint1x2.DH
include data/asint1x2.DHD
include data/asint1x2.NUL
include data/asint1x2.NULD
include data/asint1x2.NULDAT
include data/dangle.DAT
include data/dangle.DG
include data/dangle.DGD
include data/dangle.DH
include data/dangle.DHD
include data/dangle.NUL
include data/dangle.NULD
include data/dangle.NULDAT
include data/extinction.DAT
include data/hexaloop.DAT
include data/hexaloop.DG
include data/hexaloop.DGD
include data/hexaloop.DH
include data/hexaloop.DHD
include data/hexaloop.NUL
include data/hexaloop.NULD
include data/hexaloop.NULDAT
include data/loop.DAT
include data/loop.DG
include data/loop.DGD
include data/loop.DH
include data/loop.DHD
include data/loop.NUL
include data/loop.NULD
include data/loop.NULDAT
include data/miscloop.DAT
include data/miscloop.DG
include data/miscloop.DGD
include data/miscloop.DH
include data/miscloop.DHD
include data/miscloop.NUL
include data/miscloop.NULD
include data/miscloop.NULDAT
include data/sint2.DAT
include data/sint2.DG
include data/sint2.DGD
include data/sint2.DH
include data/sint2.DHD
include data/sint2.NUL
include data/sint2.NULD
include data/sint2.NULDAT
include data/sint4.DAT
include data/sint4.DG
include data/sint4.DGD
include data/sint4.DH
include data/sint4.DHD
include data/sint4.NUL
include data/sint4.NULD
include data/sint4.NULDAT
include data/stack.DAT
include data/stack.DG
include data/stack.DGD
include data/stack.DH
include data/stack.DHD
include data/stack.NUL
include data/stack.NULD
include data/stack.NULDAT
include data/tloop.DAT
include data/tloop.DG
include data/tloop.DGD
include data/tloop.DH
include data/tloop.DHD
include data/tloop.NUL
include data/tloop.NULD
include data/tloop.NULDAT
include data/triloop.DAT
include data/triloop.DG
include data/triloop.DGD
include data/triloop.DH
include data/triloop.DHD
include data/triloop.NUL
include data/triloop.NULD
include data/triloop.NULDAT
include data/tstacke.DAT
include data/tstacke.DG
include data/tstacke.DGD
include data/tstacke.DH
include data/tstacke.DHD
include data/tstacke.NUL
include data/tstacke.NULD
include data/tstacke.NULDAT
include data/tstackh.DAT
include data/tstackh.DG
include data/tstackh.DGD
include data/tstackh.DH
include data/tstackh.DHD
include data/tstackh.NUL
include data/tstackh.NULD
include data/tstackh.NULDAT
include data/tstacki.DAT
include data/tstacki.DG
include data/tstacki.DGD
include data/tstacki.DH
include data/tstacki.DHD
include data/tstacki.NUL
include data/tstacki.NULD
include data/tstacki.NULDAT
include data/tstacki23.DAT
include data/tstacki23.DG
include data/tstacki23.DGD
include data/tstacki23.DH
include data/tstacki23.DHD
include data/tstacki23.NULD
include data/tstacki23.NULDAT
include data/tstackm.DAT
include data/tstackm.DG
include data/tstackm.DGD
include data/tstackm.DH
include data/tstackm.DHD
include data/tstackm.NUL
include data/tstackm.NULD
include data/tstackm.NULDAT
